@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8f9fa;
  --foreground: #212529;
  --brand: #e2b714;
  --muted: #adb5bd;
  --error: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-muted: var(--muted);
  --color-error: var(--error);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #eeeeee;
    --brand: #e2b714;
    --muted: #555555;
    --error: #ca4754;
  }
}

.dark {
  --background: #111111;
  --foreground: #eeeeee;
  --brand: #e2b714;
  --muted: #555555;
  --error: #ca4754;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background-color 0.3s ease, color 0.3s ease;
}